NODE-Red functions.txt
[{"id":"17a6ebe3.d9e214","type":"mqtt in","z":"75a58308.8012fc","name":"","topic":" node/climate-module/thermometer/0:1/temperature","qos":"2","broker":"e649966c.8c2af8","x":230,"y":260,"wires":[["3e232099.53286","c0e10e95.0d9e1"]]},{"id":"3e232099.53286","type":"blynk-ws-out-write","z":"75a58308.8012fc","name":"","pin":"1","pinmode":0,"client":"26f45542.cf788a","x":980,"y":260,"wires":[]},{"id":"6287986.9c02568","type":"mqtt in","z":"75a58308.8012fc","name":"","topic":" node/climate-moditor/lux-meter/0:0/illuminance","qos":"2","broker":"e649966c.8c2af8","x":210,"y":300,"wires":[["fd9eee65.3adb4"]]},{"id":"f8117dfc.392ef","type":"blynk-ws-out-write","z":"75a58308.8012fc","name":"","pin":"2","pinmode":0,"client":"26f45542.cf788a","x":980,"y":300,"wires":[]},{"id":"fd9eee65.3adb4","type":"function","z":"75a58308.8012fc","name":"Opened doors checker","func":"var value=flow.get('iluminance') || 0;\n\nif(msg.payload > 20)\n{\n    value++;\n    flow.set('iluminance', value)\n}\nelse if(msg.payload < 20)\n{\n    value = 0;\n    flow.set('iluminance', value)\n    msg.payload = 0;\n    return msg\n}\nif((value % 5) === 0)\n{\n    flow.set('iluminance', value);\n    msg.payload = 255\n    return msg\n}\n","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["f8117dfc.392ef","1e0ed309.4cdd9d"]]},{"id":"e362bcd1.3209","type":"blynk-ws-out-notify","z":"75a58308.8012fc","name":"","client":"26f45542.cf788a","queue":false,"rate":5,"x":950,"y":340,"wires":[]},{"id":"1e0ed309.4cdd9d","type":"function","z":"75a58308.8012fc","name":"Message","func":"if(msg.payload == 255)\n{\n    msg.payload = \"Fridge doors are open for too long\";\n    return msg;\n}","outputs":1,"noerr":0,"x":800,"y":340,"wires":[["e362bcd1.3209"]]},{"id":"c0e10e95.0d9e1","type":"ui_gauge","z":"75a58308.8012fc","name":"","group":"4a6d0465.baa43c","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-10","max":"20","colors":["#00dae6","#ffa620","#ca3838"],"seg1":"0","seg2":"10","x":590,"y":200,"wires":[]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26f45542.cf788a","type":"blynk-ws-client","z":"","name":"Fridge Monitor","path":"ws://127.0.0.1:8080/websockets","key":"886ca14547c1497d9e894f8583645094","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""},{"id":"4a6d0465.baa43c","type":"ui_group","z":"","name":"Fridge Monitor","tab":"c4b88390.6daab","disp":true,"width":"6","collapse":false},{"id":"c4b88390.6daab","type":"ui_tab","z":"","name":"Fridge Monitor","icon":"dashboard"}]
